$c-black: #000;
$c-white: #fff;

$c-primary: #A2D5C6;
$c-accent: #077187;
$c-support: #E7D8C9;
$c-theme: #FFF1E6;

/*
Propozycja 1:

$c-primary: #97B1A6;
$c-accent: #345B63;
$c-support: #DAD2BC;
$c-theme: #DAD2BC;

Propozycja 2:

$c-primary: #A2D5C6;
$c-accent: #077187;
$c-support: #E7D8C9;
$c-theme: #FFF1E6;

Propozycja 3:

$c-primary: #BCC4DB;
$c-accent: #596E79;
$c-support: #A9B4C2;
$c-theme: #F5F5F5;

Propozycja 4:

$c-primary: #CBBEB3;
$c-accent: #505D68;
$c-support: #9A9EAB;
$c-theme: #EAEAEA;
*/