
@import 'reset';

@import './breakpoints';
@import './colors';
@import './fonts';
@import './mixins';


@import '../header.scss';
@import '../welcome.scss';
@import '../about.scss';
@import '../specialization.scss';
@import '../services.scss';
@import '../contact.scss';


h1 {
  font-family: $f-detal-bold; 
  color: $c-accent; 
  font-size: $header-size-large; 
}

h2 {
  font-family: $f-detal-medium; 
  color: $c-accent; 
  font-size:$header-size-semi-large; 
}

h3 {
  font-family: $f-main-bold; 
  color: $c-support; 
  font-size: $header-size-medium; 
}

h4 {
  font-family: $f-main-medium; 
  color: $c-theme; 
  font-size: $header-size-small; 
}

p {
  font-family: $f-main-regular; 
  font-size: $font-size-medium; 
}
