@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

.contact-header {
  padding: 25px;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding-bottom: 20px;
}

.contact-box-row {
  width: 350px;
  padding-bottom: 10px;

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-link{
  padding-bottom: 5px;
  font-weight: 500;
  font-size: $font-size-large;
  color: $c-accent
}

.contact-link:hover {
  color: grey;
  text-decoration: underline;
}

.paragraph-online {
  font-weight: 500;
  text-align: center;
  width: 300px;
  padding-left: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 15px;
}

.map iframe {
  width: 350px;
  height: 350px;
  border:solid 1px $c-accent;
  padding: 5px;
}

.map-paragraph {
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

@include for-tablet-up {

  .contact-container {
    flex-direction: row;
  }

  .contact-box-row {
    flex-direction: block;
  }

  .map {
    margin: 10px;
  }

  .map-paragraph {
    width: 400px;
  }

  .map iframe {
    width: 350px;
  }

  .contact-link {
    white-space: nowrap;
    text-align: left;
  }

  .paragraph-online {
    padding: 10px 20px;
    text-align: left;
  }
}

@include for-desktop {
  .contact-box {
    width: 500px;
  }

  .contact-box-row {
    flex-direction: block;
  }

  .contact-link {
    margin: 0 60px; 
    min-width: 150px; 
    white-space: nowrap;
  }

  .map {
    padding: 15px;
  }

  .map iframe {
    width: 500px;
  }
}

@include for-wide-desktop {
  .contact-box {
    width: 1200px;
  }

  .map iframe {
    width: 450px;
    height: 300px;
    border:solid 1px $c-accent;
    padding: 5px;
  }
}

