@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

.contact-header {
  padding: 25px;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__2 {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/background.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
   
  }
}

.contact-box-background {
  width: 350px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.781);
  display: flex;
  flex-direction: column;
}

.contact-box-row {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  &__2 {
    width: 350px;
    padding: 10px;
  }
}

.contact-box-link {
  display: flex;
}

.contact-link-p {
  padding-bottom: 7px;
  font-weight: 500;
  font-size: $font-size-medium
}

.contact-box-link:hover {
  transform: scale(1.1);
}

.paragraph-online {
  font-weight: 500;
  text-align: center;
  width: 340px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}

.email-icon {
  background-image: url('../assets/email.png');
}

.phone-icon {
  background-image: url('../assets/phone.png');
}

.skype-icon {
  background-image: url('../assets/skype.png');
  width: 50px;
  height: 50px;
  margin-right: 45px;
}

.gm-icon {
  background-image: url('../assets/gm-1.png');
  width: 45px;
  height: 45px;
}

.map {
  padding-bottom: 10px;
}

.map iframe {
  width: 350px;
  height: 250px;
  border:solid 2px $c-accent;

}

.map-paragraph {
  font-weight: 500;
  font-size: $font-size-semi-large;
  padding: 15px;
  text-align: center;
}

@include for-tablet-up {
  .contact-container {
    width: 100%;
    padding: 50px 20px 70px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/background.jpg');
  }

  .contact-box {
    &__2 {
      width: auto;
      background-image: none;
    }
  }

  .contact-box-background {
    height: 400px;
    width: 370px;
    justify-content: center;
  }

  .contact-container {
    flex-direction: row;
  }

  .contact-box-row {
    &__2 {
      padding: 10px;
    }
  }

  .map-paragraph {
    width: 300px;
    color: $c-black;
  }

  .contact-link {
    white-space: nowrap;
    text-align: left;
  }
}

@include for-desktop {
  .contact-box {
    padding: 50px;
    &__2 {
      padding: 50px;
    }
  }

  .contact-box-background {
    width: 450px;
    height: 450px;
  }

  .contact-box-row {
    &__2 {
      width: 400px;
    }
  }
  
  .contact-link {
    margin: 0 60px; 
    min-width: 150px; 
    white-space: nowrap;
  }

  .map iframe {
    padding: 15px;
    width: 410px;
    height: 350px;
    border: none;
  }

  .map-paragraph {
    padding-bottom: 10px;
    padding-inline: 30px;
    width: 400px;
    font-size: $font-size-large;
    font-weight: 600;
  }

  .contact-link-p  {
    font-size: $font-size-large;
  }

  .paragraph-online {
    font-size: $font-size-large;
    padding: 10px;
    width: 400px;
  }
}

@include for-wide-desktop {

  .contact-box-background {
    width: 500px;
    height: 450px;
    padding: 40px;
  }

  .map iframe {
    width: 500px;
    height: 300px;
    border:solid 1px $c-accent;
    padding: 5px;
  }
}

