
@import './config/colors';
@import './config/breakpoints';
@import './config/fonts';

.h-container {
  height: 50px;
  background-color: $c-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-c-list {
  padding: 10px;
  position: relative; 
  cursor:pointer;

  a {
    color: $c-white; 
    text-decoration: none;
    display: block; 

    &::after {
      content: "";
      background-color: $c-white;
      width: 0;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 0.3s linear;
    }

    &:hover::after {
      width: 100%; 
      
    }
  }
}