.list__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list__container {
  width: 320px;
  padding-block: 20px;
  padding-left: 20px;
}

.list__items {
  text-align: start;
}

@include for-tablet-up {
  .list__container {
    width: 500px;
    padding-block: 30px;
    padding-left: 40px;
   }
 
}

@include for-desktop-up {
  .list__container {
    width: 700px;
    padding-block: 30px;
    padding-left: 40px;
   }
   
   .list__title {
    padding-bottom: 10px;
   }
 
   .list__items {
    font-size: $font-size-semi-large;
  }
}
