.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
  color: $c-white;
}

.modal-content {
  padding: 45px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.modal-header,
.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block: 15px;
}

.close-button,
.close-modal-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: $c-white;
}

.modal-title{
  color: $c-white;
  text-align: center;
}