
.offer-section {
  padding: 20px;
  background-color: $c-theme;
  color: $c-black;
  text-align: center;

  @include for-mobile {
    padding: 30px;
  }

  @include for-tablet-up {
    padding: 50px;
  }

  @include for-desktop-up {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.offer-header {
  font-family: $f-detal-bold;
  color: $c-accent;
  font-size: $header-size-medium;
  margin-bottom: 15px;

  @include for-tablet-up {
    font-size: $header-size-semi-large;
  }

  @include for-desktop-up {
    font-size: $header-size-large;
  }
}

.offer-paragraph {
  font-family: $f-main-regular;
  font-size: $font-size-medium;
  margin-bottom: 20px;

  @include for-tablet-up {
    font-size: $font-size-semi-large;
  }
}

.offer-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  @include for-tablet-up {
    gap: 20px;
  }

  @include for-desktop-up {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}


.offer-box {
  height: 300px;
  width: 300px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  background-color: $c-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include for-tablet-up {
    padding: 15px;
    font-size: $font-size-semi-large;
  }

  @include for-desktop-up {
    height: 220px;
    width: 220px;
    gap: 10px;
  }

  @include for-wide-desktop {
    height: 300px;
    width: 300px;
    gap: 10px;
  }

  &__picture {
    width: 100%; 
    height: 200px; 
    background-color: $c-accent; 
    padding: 10px;
    margin-bottom: 10px;
  }
  
  &__title {
    font-family: $f-detal-light;
    font-size: $font-size-medium;
    font-weight: 200;
    color: $c-white;
  }
  
}

.offer-box__picture {
  background-size: cover;
  background-position: center;
}
