@import './config/colors';
@import './config/breakpoints';
@import './config/fonts';

.offer-section {
  padding: 20px;
  background-color: $c-theme;
  color: $c-black;
  text-align: center;

  @include for-mobile {
    padding: 30px;
  }

  @include for-tablet-up {
    padding: 50px;
  }

  @include for-desktop-up {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.offer-header {
  font-family: $f-detal-bold;
  color: $c-accent;
  font-size: $header-size-medium;
  margin-bottom: 20px;

  @include for-tablet-up {
    font-size: $header-size-semi-large;
  }
}

.offer-paragraph {
  font-family: $f-main-regular;
  font-size: $font-size-medium;
  margin-bottom: 20px;
  padding-inline: 30px;

  @include for-tablet-up {
    font-size: $font-size-semi-large;
    padding-inline: 30px;
  }

  @include for-desktop-up {
    padding-inline: 100px;
  }
}

.offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @include for-tablet-up {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include for-desktop-up {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }

  @include for-wide-desktop {
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
  }
}


.offer-box {
  height: 300px;
  width: 300px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  background-color: $c-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;

  @include for-tablet-up {
    padding: 15px;
    font-size: $font-size-medium;
  }

  @include for-desktop-up {
    height: 330px;
    width: 330px;
    gap: 5px;

    &:hover {
      transform: scale(1.1);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      transition: transform 0.3s ease;
      border-style: solid;
      border-width: 3px; 
      border-color: $c-accent; 
    }
  
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(0, 0);
      transform-origin: top left;
      border-bottom: none;
      border-right: none;
    }
  
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(0, 0);
      transform-origin: bottom right;
      border-top: none; 
      border-left: none; 
    }
  
    &:hover::before,
    &:hover::after {
      transform: scale(1, 1);
    }
  }

  @include for-wide-desktop {
    height: 310px;
    width: 310px;
    gap: 10px;
  }



  &__picture {
    width: 100%; 
    height: 200px; 
    background-color: $c-accent; 
    padding: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }
  
  &__title {
    font-family: $f-main-regular;
    font-size: 13px;
    font-weight: 200;
    color: $c-white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    margin-top: 10px;

    @include for-desktop-up {
      font-size: $font-size-large
    }
  }

}

.offer-box__picture {
  background-size: cover;
  background-position: center;
}
