.price__section {
  text-align: center;
  width: 100%;
}

.price__title {
  padding-top: 10px;
}

.price__container {
  padding: 10px;
  font-weight: 500;
  font-size: $font-size-semi-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@include for-tablet-up {
  .price__container {
    padding: 10px;
  }

  .price__text{
    font-size: $font-size-large;
    font-weight: 500;
  }
}

@include for-desktop {
  .price__title {
    padding-top: 10px;
  }

  .price__text{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 10px;
  }
}

@include for-wide-desktop {
  .price__box {
    height: 150px;
    margin: 40px 70px;
  }
}