.price-section {
  background-color: $c-theme;
  text-align: center;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-header {
  padding-bottom: 20px;
  font-size: $header-size-medium;
}

.price-box {
  background-color: $c-white;
  height: 70px;
  width: 350px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: $c-black;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.397);
}


@include for-tablet-up {
  .price-container {
    display: flex;
  }

  .price-box {
    height: 100px;
    width: 450px;
  }
  
  .price-header {
    font-size: $header-size-semi-large;
    padding-bottom: 25px;
   }

  .price-box-text{
    font-size: $font-size-large;
    font-weight: 500;
  }
}

@include for-desktop {
  .price-container {
    display: flex;
    flex-direction: row;
  }
  .price-box {
    height: 150px;
    width: 450px;
    margin: 20px 40px;
  }
  

  .price-box-text{
    font-size: $font-size-large;
    font-weight: 500;
  }
}

@include for-wide-desktop {
  .price-box {
    height: 150px;
    margin: 40px 70px;
  }
}