@import './config/colors';
@import './config/breakpoints';
@import './config/fonts';

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

 .services {
  width: 100%;
  max-width: 1200px;
  padding: 30px 50px; 
  background-color: $c-theme;
  color: $c-accent;
  text-align: center;
  

  &__title {
    margin-bottom: 32px;
    text-align: center;
    font-size: 22px; 
  }

  &__box {
    padding: 15px;
    background-color: $c-white;
    border: solid 1px $c-black;
    border-radius: 15px;
  }

  &__paragraph {
    font-size: $font-size-semi-large;
    margin: 10px 2px;
    background-color: $c-theme;
    color: $c-black;
    border-radius: 8px;
    border: solid 1px $c-accent;
  }
}

