@import './config/colors';
@import './config/breakpoints';
@import './config/fonts';


.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

 .services {
  width: 100%;
  max-width: 1200px;
  padding: 50px;   

  &__title {
    margin-bottom: 32px;
    text-align: center;
    font-size: $header-size-medium; 
  }
}

@include for-tablet-up {
  .services__title {
    font-size: $header-size-semi-large; 
  }
}

